body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: #111827;
  padding: 10px;
}

.menu button {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
}

button {
  padding: 10px;
  margin-top: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
}
