body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#111;
    font-family: Arial;
}

#box{
    width:200px;
    height:200px;
    background:#00ff88;
    color:black;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
    font-weight:bold;
    border-radius:10px;
    transition:0.5s;
}
